@use "theme.scss" as theme;
@use "../node_modules/rfs/scss.scss" as rfs;

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ea6876;
  color: theme.$background-color;
  @include rfs.padding-top(50px);
  @include rfs.padding-right(16px);
  @include rfs.padding-bottom(80px);
  @include rfs.padding-left(16px);

  @media only screen and (min-width: 800px) {
    padding-left: auto;
    padding-right: auto;
  }
}

.footerHeading {
  @include rfs.font-size(20px);
  font-weight: 600;
}

.footerGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 260px;
  gap: 30px;
  @include rfs.margin-right(20px);
  @include rfs.margin-left(20px);

  @media only screen and (min-width: 800px) {
    gap: 70px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .gridItemOne {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    @media only screen and (min-width: 800px) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  .gridItemTwo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    @media only screen and (min-width: 800px) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }
}

.connectUnorderedList {
  padding: 0;
  list-style-type: none;

  .connectListItem {
    padding-bottom: 16px;
  }
}

.copyright {
  margin-top: 30px;
  @include rfs.margin-right(20px);
  @include rfs.margin-left(20px);

  @media only screen and (min-width: 800px) {  
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
